################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

DLLs/
ViewPort/bin/Debug/*
ViewPort/Viewport/bin/Debug/*
ViewPort/Viewport/bin/Release/*
ViewPort/Viewport/obj/Debug/*
ViewPort/Viewport/obj/Release/*
ViewPort/bin/Release/*
ViewPort/.vs/ViewPort/v16/
ViewPort/.vs/ViewPort/v16/Server/sqlite3/db.lock
ViewPortChecker/bin/Debug
ViewPortChecker/bin/Release
ViewPortChecker/obj/Debug
ViewPortChecker/obj/Release
*.cache
*.xml
*.pdb
*.txt
*.cache
*.suo
*.htm
*.sqlite
*.config
*.exe
ViewPort/Viewport/obj/Debug/Viewport.exe
ViewPort/Viewport/obj/Release/Viewport.exe
ViewPortChecker/bin/Debug/VPChecker.exe
ViewPortChecker/bin/Release/VPChecker.exe
ViewPortChecker/obj/Debug/VPChecker.exe
ViewPortChecker/obj/Release/VPChecker.exe
ViewPort/obj/Debug/ViewPort.exe
