################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/ViewPort/.vs/ViewPort/v16/Server/sqlite3/db.lock
*.cache
DLLs/ViewPortNetwork.dll
DLLs/ViewPortNetwork.pdb
ViewPort/.vs/ViewPort/v16/.suo
ViewPort/bin/Debug/DevExpress.Data.v20.1.xml
ViewPort/bin/Debug/DevExpress.Pdf.v20.1.Core.xml
ViewPort/bin/Debug/DevExpress.Printing.v20.1.Core.xml
ViewPort/bin/Debug/DevExpress.Utils.v20.1.xml
ViewPort/bin/Debug/DevExpress.XtraEditors.v20.1.xml
ViewPort/bin/Debug/ViewPort.exe
ViewPort/bin/Debug/ViewPort.pdb
ViewPort/bin/Debug/ViewPortNetwork.dll
ViewPort/bin/Debug/ViewPortNetwork.pdb
ViewPort/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ViewPort/obj/Debug/ViewPort.csproj.CoreCompileInputs.cache
ViewPort/obj/Debug/ViewPort.csproj.FileListAbsolute.txt
ViewPort/obj/Debug/ViewPort.csproj.GenerateResource.cache
ViewPort/obj/Debug/ViewPort.exe
ViewPort/obj/Debug/ViewPort.pdb
ViewPortChecker/bin/Debug/ViewPortNetwork.dll
ViewPortChecker/bin/Debug/ViewPortNetwork.pdb
ViewPortChecker/bin/Debug/VPChecker.exe
ViewPortChecker/bin/Debug/VPChecker.pdb
ViewPortChecker/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ViewPortChecker/obj/Debug/VPChecker.csproj.CoreCompileInputs.cache
ViewPortChecker/obj/Debug/VPChecker.csproj.FileListAbsolute.txt
ViewPortChecker/obj/Debug/VPChecker.csproj.GenerateResource.cache
ViewPortChecker/obj/Debug/VPChecker.exe
ViewPortChecker/obj/Debug/VPChecker.pdb
ViewPortNetwork/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ViewPortNetwork/obj/Debug/ViewPortNetwork.csproj.CoreCompileInputs.cache
ViewPortNetwork/obj/Debug/ViewPortNetwork.csproj.FileListAbsolute.txt
ViewPortNetwork/obj/Debug/ViewPortNetwork.dll
ViewPortNetwork/obj/Debug/ViewPortNetwork.pdb
