################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

DLLs/
ViewPort/bin/Debug/
ViewPort/bin/Release/
ViewPort/.vs/ViewPort/v16/
/ViewPort/.vs/ViewPort/v16/Server/sqlite3/db.lock
ViewPortChecker/bin/Debug
ViewPortChecker/bin/Release
ViewPortChecker/obj/Debug
ViewPortChecker/obj/Release
*.cache
*.xml
*.pdb
*.txt
*.cache
*.suo
*.htm
*.sqlite
*.config
ViewPort/obj/Debug/ViewPort.exe
*.config
*.exe
ViewPortChecker/bin/Debug/VPChecker.exe
ViewPortChecker/obj/Debug/VPChecker.exe
