<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ViewPort.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ViewPort.Properties.Settings>
            <setting name="NormalCol" serializeAs="String">
                <value />
            </setting>
            <setting name="NormalRow" serializeAs="String">
                <value />
            </setting>
            <setting name="NormalWidth" serializeAs="String">
                <value />
            </setting>
            <setting name="NormalHeight" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenCol" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenRow" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenWidth" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenHeight" serializeAs="String">
                <value />
            </setting>
            <setting name="MBCol" serializeAs="String">
                <value />
            </setting>
            <setting name="MBRow" serializeAs="String">
                <value />
            </setting>
            <setting name="MBWidth" serializeAs="String">
                <value />
            </setting>
            <setting name="MBHeight" serializeAs="String">
                <value />
            </setting>
            <setting name="TOPCol" serializeAs="String">
                <value />
            </setting>
            <setting name="TOPROW" serializeAs="String">
                <value />
            </setting>
            <setting name="TOPWidth" serializeAs="String">
                <value />
            </setting>
            <setting name="TOPHeight" serializeAs="String">
                <value />
            </setting>
            <setting name="변색Col" serializeAs="String">
                <value />
            </setting>
            <setting name="변색Row" serializeAs="String">
                <value />
            </setting>
            <setting name="변색Width" serializeAs="String">
                <value />
            </setting>
            <setting name="변색Height" serializeAs="String">
                <value />
            </setting>
            <setting name="SRCol" serializeAs="String">
                <value />
            </setting>
            <setting name="SRRow" serializeAs="String">
                <value />
            </setting>
            <setting name="SRWidth" serializeAs="String">
                <value />
            </setting>
            <setting name="SRHeight" serializeAs="String">
                <value />
            </setting>
        </ViewPort.Properties.Settings>
    </userSettings>
</configuration>